/* cats.css */
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#dogContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.image-container {
    text-align: center;
}

img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.fact-container {
    padding: 10px;
}

p {
    margin: 5px;

}

.fact-number {
    color: rgb(250, 169, 19);
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.top-heading {
    text-align: center;
    font-size: 24px;
    color: #333;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size:35px;
}